<p>Xin chào {{ name }},</p>
<p>Yêu cầu đạt bàn của bạn đã bị hủy với lý do:</p>
<p>
    {{msg}}
</p>

<p>Chúng tôi rất tiếc vì điều này nhưng mong quý khác thông cảm.</p>
<p>Xin chân thành cảm ơn.</p>


<p>MTFood</p>