<p>Xin chào {{ name }},</p>
<p>Yêu cầu của bạn đã được xác nhận.</p>
<p>Để xem thông tin chi tiết hãy click vào link dưới đây.</p>
<p>
    <a href="{{ url }}">Chi tiết</a>
</p>
<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>

<p>MTFood</p>